@import url(common.css);

h1 {
   margin: .5em 0;
}
.gallery {
    margin: 0;
    padding: 0;
}
.photo {
    display: inline-block;
    width: 151px;
    height: 151px;
    text-align: center;
}
.photo img {
    vertical-align: middle;
    border: none;
}
.description {
    margin: .5em 0;
}
.footer {
    font-size: .875em;
    width: 15em;
    margin: 2em auto 1em auto;
    border-top: 1px dotted #333;
    padding-top: 1em;
}
