@import url(common.css);

.gallery {
    margin: 0;
    padding: 0;
}
.photo {
    display: inline-block;
    width: 151px;
    height: 151px;
    text-align: center;
}
.photo img {
    vertical-align: middle;
    border: none;
}
.description {
    margin: 1em 0;
}
.footer {
    margin: .5em 0;
    font-size: .875em;
}
