body {
    margin: 0;
    background: black;
    text-align: center;
    color: #ccc;
}
.gallery {
    margin: 0;
    padding: 0;
}
.photo {
    display: inline-block;
    width: 151px;
    height: 151px;
    text-align: center;
}
.photo img {
    vertical-align: middle;
}
.description {
    margin: 1em 0;
}
.rights {
    margin: .5em 0;
    text-align: center;
    font-size: .875em;
    font-style: italic;
}
.footer {
    margin: .5em 0;
    font-size: .875em;
}
a:link {
    color: white;
}
a:visited {
    color: #999;
}
