@import url(common.css);

h1 {
    font-size: 1em;
    margin: .5em;
}
h1 a:link, h1 a:visited {
    color: #ccc;
    text-decoration: none;
}
h1 a:hover {
    text-decoration: underline;
}
.nav {
    display: inline-block;
}
.position {
    margin: .5em 0;
}
.nolink {
    color: #333;
}
.metadata {
    margin: .5em 0;
}
.photo {
    margin: .5em 0;
}
.photo img {
    vertical-align: top;
    max-width: 100%;
}
